.element-updated {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background-color: var(--tokens-colors-surface-surfacesecondary);
}

.element-updated .div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-updated .div-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-updated .pre-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--tokens-spacing-spacer-01) var(--tokens-spacing-spacer-04)
    var(--tokens-spacing-spacer-01) var(--tokens-spacing-spacer-04);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-updated .hyperlink {
  display: inline-flex;
  align-items: center;
  gap: var(--tokens-spacing-spacer-01);
  position: relative;
  flex: 0 0 auto;
  border-radius: 2px;
}

.element-updated .text {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--text-base-regular-font-family);
  font-weight: var(--text-base-regular-font-weight);
  color: var(--tokens-colors-content-contentprimary);
  font-size: var(--text-base-regular-font-size);
  letter-spacing: var(--text-base-regular-letter-spacing);
  line-height: var(--text-base-regular-line-height);
  white-space: nowrap;
  font-style: var(--text-base-regular-font-style);
}

.element-updated .nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--tokens-spacing-spacer-02);
  padding: var(--tokens-spacing-spacer-03) var(--tokens-spacing-spacer-04)
    var(--tokens-spacing-spacer-03) var(--tokens-spacing-spacer-04);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--tokens-colors-surface-surfacebrand);
  border-radius: var(--tokens-border-radius-border-radius-2)
    var(--tokens-border-radius-border-radius-2) 0px 0px;
}

.element-updated .vidaxl-logotype {
  width: 108.62px;
  overflow: hidden;
  position: relative;
  height: 32px;
}

.element-updated .vidaxl-com {
  width: 109px;
  position: relative;
  height: 32px;
}

.element-updated .vector {
  position: absolute;
  width: 37px;
  height: 11px;
  top: 17px;
  left: 72px;
}

.element-updated .overlap-group {
  position: absolute;
  width: 60px;
  height: 32px;
  top: 0;
  left: 11px;
}

.element-updated .img {
  position: absolute;
  width: 4px;
  height: 4px;
  top: 3px;
  left: 0;
}

.element-updated .vector-2 {
  position: absolute;
  width: 19px;
  height: 13px;
  top: 0;
  left: 29px;
}

.element-updated .vector-3 {
  position: absolute;
  width: 7px;
  height: 13px;
  top: 10px;
  left: 40px;
}

.element-updated .vector-4 {
  position: absolute;
  width: 33px;
  height: 19px;
  top: 4px;
  left: 0;
}

.element-updated .vector-5 {
  position: absolute;
  width: 27px;
  height: 28px;
  top: 4px;
  left: 32px;
}

.element-updated .vector-6 {
  position: absolute;
  width: 4px;
  height: 4px;
  top: 24px;
  left: 57px;
}

.element-updated .vector-7 {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 9px;
  left: 0;
}

.element-updated .body {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: var(--tokens-spacing-spacer-05);
  padding: var(--tokens-spacing-spacer-04) 0px var(--tokens-spacing-spacer-06)
    0px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--tokens-colors-surface-surfaceprimary);
  border-right-width: 1px;
  border-right-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: var(--tokens-colors-borders-borderopaque-duplicate);
}

.element-updated .email-intro-and-gif {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--collection-1-spacing-spacer-05-duplicate);
  position: relative;
  flex: 0 0 auto;
}

.element-updated .intro {
  display: flex;
  flex-direction: column;
  width: 360px;
  align-items: flex-start;
  gap: var(--tokens-spacing-spacer-05);
  padding: 0px var(--tokens-spacing-spacer-04) 0px
    var(--tokens-spacing-spacer-04);
  position: relative;
  flex: 0 0 auto;
}

.element-updated .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--tokens-spacing-spacer-05);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: transparent;
}

.element-updated .text-wrapper {
  align-self: stretch;
  font-family: var(--text-md-bold-font-family);
  font-weight: var(--text-md-bold-font-weight);
  font-size: var(--text-md-bold-font-size);
  letter-spacing: var(--text-md-bold-letter-spacing);
  line-height: var(--text-md-bold-line-height);
  position: relative;
  margin-top: -1.00px;
  color: var(--tokens-colors-content-contentprimary);
  font-style: var(--text-md-bold-font-style);
}

.element-updated .hi-user-it-s-been-a {
  position: relative;
  align-self: stretch;
  font-family: "Segoe UI-Regular", Helvetica;
  font-weight: 400;
  color: var(--tokens-colors-content-contentsecondary);
  font-size: 16px;
  letter-spacing: 0.02px;
  line-height: 24px;
}

.element-updated .span {
  color: #313131;
  letter-spacing: var(--text-base-bold-letter-spacing);
  font-family: var(--text-base-bold-font-family);
  font-style: var(--text-base-bold-font-style);
  font-weight: var(--text-base-bold-font-weight);
  line-height: var(--text-base-bold-line-height);
  font-size: var(--text-base-bold-font-size);
}

.element-updated .text-wrapper-2 {
  color: #313131;
  letter-spacing: var(--text-base-regular-letter-spacing);
  font-family: var(--text-base-regular-font-family);
  font-style: var(--text-base-regular-font-style);
  font-weight: var(--text-base-regular-font-weight);
  line-height: var(--text-base-regular-line-height);
  font-size: var(--text-base-regular-font-size);
}

.element-updated .text-wrapper-3 {
  font-family: var(--text-base-bold-font-family);
  font-weight: var(--text-base-bold-font-weight);
  color: #93117e;
  letter-spacing: var(--text-base-bold-letter-spacing);
  font-style: var(--text-base-bold-font-style);
  line-height: var(--text-base-bold-line-height);
  font-size: var(--text-base-bold-font-size);
}

.element-updated .usps {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  width: 328px;
  align-items: flex-start;
  gap: var(--tokens-spacing-spacer-03);
  position: relative;
  flex: 0 0 auto;
}

.element-updated .title-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--tokens-spacing-spacer-01);
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  align-self: stretch;
}

.element-updated .usp {
  display: flex;
  align-items: flex-start;
  gap: var(--collection-1-spacing-spacer-02-duplicate);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-updated .plus {
  display: flex;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 3px;
  position: relative;
  background-color: var(--tokens-colors-surface-surfacebrandlight);
  border-radius: 1498.5px;
}

.element-updated .icon-component {
  background-image: url(./img/box-2.svg);
  position: relative;
  width: 24px;
  height: 24px;
  background-size: 100% 100%;
}

.element-updated .headline {
  flex: 1;
  font-family: var(--text-base-semibold-font-family);
  font-weight: var(--text-base-semibold-font-weight);
  font-size: var(--text-base-semibold-font-size);
  letter-spacing: var(--text-base-semibold-letter-spacing);
  line-height: var(--text-base-semibold-line-height);
  position: relative;
  margin-top: -1.00px;
  color: var(--tokens-colors-content-contentprimary);
  font-style: var(--text-base-semibold-font-style);
}

.element-updated .usp-2 {
  display: flex;
  align-items: center;
  gap: var(--collection-1-spacing-spacer-02-duplicate);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-updated .icon-component-2 {
  background-image: url(./img/calendar-dates.svg);
  position: relative;
  width: 24px;
  height: 24px;
  background-size: 100% 100%;
}

.element-updated .headline-2 {
  position: relative;
  flex: 1;
  font-family: var(--text-base-semibold-font-family);
  font-weight: var(--text-base-semibold-font-weight);
  color: var(--tokens-colors-content-contentprimary);
  font-size: var(--text-base-semibold-font-size);
  letter-spacing: var(--text-base-semibold-letter-spacing);
  line-height: var(--text-base-semibold-line-height);
  font-style: var(--text-base-semibold-font-style);
}

.element-updated .icon-component-3 {
  background-image: url(./img/procent-circle.svg);
  position: relative;
  width: 24px;
  height: 24px;
  background-size: 100% 100%;
}

.element-updated .gif-section {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px var(--tokens-spacing-spacer-04) 0px
    var(--tokens-spacing-spacer-04);
  flex: 0 0 auto;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.element-updated .gif-copy-and-button {
  display: flex;
  flex-direction: column;
  height: 435px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.element-updated .GIF-frame {
  height: 328px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.element-updated .frame {
  display: flex;
  flex-direction: column;
  width: 280px;
  align-items: center;
  gap: var(--tokens-spacing-spacer-01);
  position: relative;
  flex: 0 0 auto;
}

.element-updated .div-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--tokens-spacing-spacer-02);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-updated .p {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--text-md-bold-font-family);
  font-weight: var(--text-md-bold-font-weight);
  color: var(--tokens-colors-content-contentsecondary);
  font-size: var(--text-md-bold-font-size);
  text-align: center;
  letter-spacing: var(--text-md-bold-letter-spacing);
  line-height: var(--text-md-bold-line-height);
  font-style: var(--text-md-bold-font-style);
}

.element-updated .btn {
  all: unset;
  box-sizing: border-box;
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: var(--tokens-spacing-spacer-01);
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: var(--tokens-border-radius-border-radius-2);
  overflow: hidden;
}

.element-updated .body-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--tokens-spacing-spacer-01);
  padding: var(--tokens-spacing-spacer-03) var(--tokens-spacing-spacer-04)
    var(--tokens-spacing-spacer-03) var(--tokens-spacing-spacer-04);
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--tokens-colors-surface-surfacebrand);
  border-radius: var(--tokens-border-radius-border-radius-2);
}

.element-updated .button {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--text-base-semibold-font-family);
  font-weight: var(--text-base-semibold-font-weight);
  color: var(--tokens-colors-content-contentbrandlight);
  font-size: var(--text-base-semibold-font-size);
  text-align: center;
  letter-spacing: var(--text-base-semibold-letter-spacing);
  line-height: var(--text-base-semibold-line-height);
  white-space: nowrap;
  font-style: var(--text-base-semibold-font-style);
}

.element-updated .salutation {
  display: flex;
  width: 360px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px var(--collection-1-spacing-spacer-04-duplicate) 0px
    var(--collection-1-spacing-spacer-04-duplicate);
  position: relative;
  flex: 0 0 auto;
}

.element-updated .kind-regards-vidaxl {
  position: relative;
  width: 328px;
  margin-top: -1.00px;
  font-family: var(--text-base-regular-font-family);
  font-weight: var(--text-base-regular-font-weight);
  color: var(--tokens-colors-content-contentsecondary);
  font-size: var(--text-base-regular-font-size);
  letter-spacing: var(--text-base-regular-letter-spacing);
  line-height: var(--text-base-regular-line-height);
  font-style: var(--text-base-regular-font-style);
}

.element-updated .faq {
  display: flex;
  flex-direction: column;
  width: 328px;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.element-updated .heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px var(--tokens-spacing-spacer-04) 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--tokens-colors-borders-borderopaque);
}

.element-updated .title {
  position: relative;
  width: 288px;
  margin-top: -1.00px;
  font-family: var(--text-md-bold-font-family);
  font-weight: var(--text-md-bold-font-weight);
  color: var(--tokens-colors-content-contentprimary-duplicate);
  font-size: var(--text-md-bold-font-size);
  letter-spacing: var(--text-md-bold-letter-spacing);
  line-height: var(--text-md-bold-line-height);
  font-style: var(--text-md-bold-font-style);
}

.element-updated .question {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--tokens-spacing-spacer-04) var(--tokens-spacing-spacer-03)
    var(--tokens-spacing-spacer-04) var(--tokens-spacing-spacer-03);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--tokens-colors-borders-borderopaque);
}

.element-updated .hyperlink-2 {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  width: 100%;
  gap: var(--tokens-spacing-spacer-01);
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
}

.element-updated .text-2 {
  flex: 1;
  color: var(--tokens-colors-content-contentprimary);
  font-size: var(--text-base-regular-font-size);
  line-height: var(--text-base-regular-line-height);
  position: relative;
  margin-top: -1.00px;
  font-family: var(--text-base-regular-font-family);
  font-weight: var(--text-base-regular-font-weight);
  letter-spacing: var(--text-base-regular-letter-spacing);
  text-decoration: underline;
  font-style: var(--text-base-regular-font-style);
}

.element-updated .icon-component-4 {
  position: relative;
  width: 24px;
  height: 24px;
  background-image: url(./img/external-link.svg);
  background-size: 100% 100%;
}

.element-updated .footer {
  display: flex;
  flex-direction: column;
  width: 360px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
  background-color: transparent;
}

.element-updated .body-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--tokens-colors-surface-surfaceprimary);
  border-radius: 0px 0px var(--tokens-border-radius-border-radius-2)
    var(--tokens-border-radius-border-radius-2);
  overflow: hidden;
  border-right-width: 2px;
  border-right-style: solid;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-left-width: 2px;
  border-left-style: solid;
  border-color: var(--tokens-colors-borders-borderopaque-duplicate);
}

.element-updated .icons-wrapper {
  display: flex;
  flex-direction: column;
  height: 47px;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--tokens-colors-surface-surfaceprimary);
}

.element-updated .vector-8 {
  position: relative;
  width: 360px;
  height: 38.5px;
}

.element-updated .divider {
  position: relative;
  width: 359px;
  height: 2px;
  margin-top: -1.00px;
}

.element-updated .footer-content {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  align-items: flex-start;
  justify-content: center;
  gap: var(--tokens-spacing-spacer-06);
  padding: var(--tokens-spacing-spacer-06) var(--tokens-spacing-spacer-04)
    var(--tokens-spacing-spacer-06) var(--tokens-spacing-spacer-04);
  position: relative;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 0px 0px var(--tokens-border-radius-border-radius-2)
    var(--tokens-border-radius-border-radius-2);
}

.element-updated .top-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--tokens-spacing-spacer-06);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-updated .logo {
  display: flex;
  align-items: center;
  gap: var(--tokens-spacing-spacer-04);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-updated .vidaxl-com-wrapper {
  position: relative;
  width: 155px;
  height: 45px;
  overflow: hidden;
}

.element-updated .vidaxl-com-2 {
  position: relative;
  height: 45px;
}

.element-updated .vector-9 {
  position: absolute;
  width: 53px;
  height: 15px;
  top: 24px;
  left: 102px;
}

.element-updated .overlap-group-2 {
  position: absolute;
  width: 86px;
  height: 45px;
  top: 0;
  left: 15px;
}

.element-updated .vector-10 {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 5px;
  left: 1px;
}

.element-updated .vector-11 {
  position: absolute;
  width: 28px;
  height: 18px;
  top: 0;
  left: 41px;
}

.element-updated .vector-12 {
  position: absolute;
  width: 10px;
  height: 18px;
  top: 13px;
  left: 56px;
}

.element-updated .vector-13 {
  position: absolute;
  width: 47px;
  height: 27px;
  top: 5px;
  left: 0;
}

.element-updated .vector-14 {
  position: absolute;
  width: 39px;
  height: 40px;
  top: 5px;
  left: 45px;
}

.element-updated .vector-15 {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 34px;
  left: 81px;
}

.element-updated .vector-16 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 13px;
  left: 0;
}

.element-updated .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: var(--text-base-regular-font-family);
  font-weight: var(--text-base-regular-font-weight);
  color: var(--tokens-colors-content-contentbrand);
  font-size: var(--text-base-regular-font-size);
  letter-spacing: var(--text-base-regular-letter-spacing);
  line-height: var(--text-base-regular-line-height);
  white-space: nowrap;
  font-style: var(--text-base-regular-font-style);
}

.element-updated .help-banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--tokens-spacing-spacer-05);
  padding: var(--tokens-spacing-spacer-04);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--tokens-colors-surface-surfacebrandlight);
  border-radius: var(--primitives-size-02);
  border: 2px solid;
  border-color: var(--tokens-colors-borders-borderbrandlight);
}

.element-updated .div-4 {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  align-items: flex-start;
  gap: var(--tokens-spacing-spacer-04);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-updated .description {
  position: relative;
  align-self: stretch;
  font-family: var(--text-base-regular-font-family);
  font-weight: var(--text-base-regular-font-weight);
  color: var(--tokens-colors-content-contentsecondary);
  font-size: var(--text-base-regular-font-size);
  letter-spacing: var(--text-base-regular-letter-spacing);
  line-height: var(--text-base-regular-line-height);
  font-style: var(--text-base-regular-font-style);
}

.element-updated .body-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--tokens-spacing-spacer-01);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: var(--tokens-border-radius-border-radius-2);
  overflow: hidden;
}

.element-updated .body-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: var(--tokens-spacing-spacer-03) var(--tokens-spacing-spacer-04)
    var(--tokens-spacing-spacer-03) var(--tokens-spacing-spacer-04);
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--tokens-colors-surface-surfaceprimary);
  border-radius: var(--tokens-border-radius-border-radius-2);
  border: 2px solid;
  border-color: var(--tokens-colors-borders-borderbrandlight);
}

.element-updated .button-2 {
  position: relative;
  width: fit-content;
  margin-top: -2.00px;
  font-family: var(--text-base-semibold-font-family);
  font-weight: var(--text-base-semibold-font-weight);
  color: var(--tokens-colors-content-contentbrand);
  font-size: var(--text-base-semibold-font-size);
  text-align: center;
  letter-spacing: var(--text-base-semibold-letter-spacing);
  line-height: var(--text-base-semibold-line-height);
  white-space: nowrap;
  font-style: var(--text-base-semibold-font-style);
}

.element-updated .icon-component-5 {
  background-image: url(./img/icon-chevron-right.svg);
  position: relative;
  width: 24px;
  height: 24px;
  background-size: 100% 100%;
}

.element-updated .divider-2 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  margin-left: -0.50px;
  margin-right: -0.50px;
  object-fit: cover;
}

.element-updated .usps-2 {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  align-items: flex-start;
  gap: var(--tokens-spacing-spacer-03);
  position: relative;
  width: 100%;
  flex: 0 0 auto;
}

.element-updated .icon-component-wrapper {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 2px;
  position: relative;
  background-color: var(--tokens-colors-surface-surfaceprimary);
  border-radius: var(--tokens-border-radius-border-radius-circle);
}

.element-updated .icon-component-6 {
  margin-top: -2.00px;
  margin-bottom: -2.00px;
  margin-left: -2.00px;
  margin-right: -2.00px;
  background-image: url(./img/check.svg);
  position: relative;
  width: 24px;
  height: 24px;
  background-size: 100% 100%;
}

.element-updated .headline-3 {
  flex: 1;
  font-family: var(--text-base-regular-font-family);
  font-weight: var(--text-base-regular-font-weight);
  font-size: var(--text-base-regular-font-size);
  letter-spacing: var(--text-base-regular-letter-spacing);
  line-height: var(--text-base-regular-line-height);
  position: relative;
  margin-top: -1.00px;
  color: var(--tokens-colors-content-contentprimary);
  font-style: var(--text-base-regular-font-style);
}

.element-updated .div-wrapper {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--tokens-spacing-spacer-01);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: var(--tokens-border-radius-border-radius-2);
  overflow: hidden;
}

.element-updated .button-3 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: fit-content;
  margin-top: -2.00px;
  font-family: var(--text-base-semibold-font-family);
  font-weight: var(--text-base-semibold-font-weight);
  color: var(--tokens-colors-content-contentbrand);
  font-size: var(--text-base-semibold-font-size);
  text-align: center;
  letter-spacing: var(--text-base-semibold-letter-spacing);
  line-height: var(--text-base-semibold-line-height);
  white-space: nowrap;
  font-style: var(--text-base-semibold-font-style);
}

.element-updated .marketing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--tokens-spacing-spacer-04);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-updated .social-icons {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--tokens-spacing-spacer-02);
  position: relative;
  flex: 0 0 auto;
}

.element-updated .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--text-base-bold-font-family);
  font-weight: var(--text-base-bold-font-weight);
  color: var(--tokens-colors-content-contentprimary);
  font-size: var(--text-base-bold-font-size);
  letter-spacing: var(--text-base-bold-letter-spacing);
  line-height: var(--text-base-bold-line-height);
  white-space: nowrap;
  font-style: var(--text-base-bold-font-style);
}

.element-updated .icons {
  display: inline-flex;
  align-items: center;
  gap: var(--tokens-spacing-spacer-02);
  position: relative;
  flex: 0 0 auto;
}

.element-updated .icon {
  position: relative;
  width: 44px;
  height: 44px;
}

.element-updated .copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--tokens-spacing-spacer-02);
  padding: var(--tokens-spacing-spacer-06) var(--tokens-spacing-spacer-04)
    var(--tokens-spacing-spacer-06) var(--tokens-spacing-spacer-04);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--tokens-colors-surface-surfacesecondary);
}

.element-updated .preferences {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-updated .description-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--text-sm-regular-font-family);
  font-weight: var(--text-sm-regular-font-weight);
  color: var(--tokens-colors-content-contenttertiary);
  font-size: var(--text-sm-regular-font-size);
  text-align: center;
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  font-style: var(--text-sm-regular-font-style);
}

.element-updated .hyperlinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--tokens-spacing-spacer-03);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-updated .hyperlink-3 {
  display: inline-flex;
  align-items: center;
  gap: var(--tokens-spacing-spacer-01);
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
}

.element-updated .text-3 {
  width: fit-content;
  color: var(--tokens-colors-content-contentbrand);
  font-size: var(--text-sm-underline-font-size);
  line-height: var(--text-sm-underline-line-height);
  white-space: nowrap;
  position: relative;
  margin-top: -1.00px;
  font-family: var(--text-sm-underline-font-family);
  font-weight: var(--text-sm-underline-font-weight);
  letter-spacing: var(--text-sm-underline-letter-spacing);
  text-decoration: underline;
  font-style: var(--text-sm-underline-font-style);
}

.element-updated .line-wrapper {
  display: inline-flex;
  align-items: center;
  padding: var(--tokens-spacing-spacer-01) 0px var(--tokens-spacing-spacer-01)
    0px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.element-updated .line {
  position: relative;
  align-self: stretch;
  width: 1px;
  object-fit: cover;
}

.element-updated .footnote {
  position: relative;
  align-self: stretch;
  font-family: var(--text-sm-regular-font-family);
  font-weight: var(--text-sm-regular-font-weight);
  color: var(--tokens-colors-content-contenttertiary);
  font-size: var(--text-sm-regular-font-size);
  text-align: center;
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  font-style: var(--text-sm-regular-font-style);
}
