:root {
  --text-base-regular-font-family: "Segoe UI", Helvetica;
  --text-base-regular-font-weight: 400;
  --text-base-regular-font-size: 16px;
  --text-base-regular-letter-spacing: 0.019199999570846556px;
  --text-base-regular-line-height: 150%;
  --text-base-regular-font-style: normal;
  --text-md-bold-font-family: "Segoe UI", Helvetica;
  --text-md-bold-font-weight: 700;
  --text-md-bold-font-size: 18px;
  --text-md-bold-letter-spacing: 0.021599999517202376px;
  --text-md-bold-line-height: 150%;
  --text-md-bold-font-style: normal;
  --text-base-semibold-font-family: "Segoe UI", Helvetica;
  --text-base-semibold-font-weight: 400;
  --text-base-semibold-font-size: 16px;
  --text-base-semibold-letter-spacing: 0px;
  --text-base-semibold-line-height: 150%;
  --text-base-semibold-font-style: normal;
  --text-base-bold-font-family: "Segoe UI", Helvetica;
  --text-base-bold-font-weight: 700;
  --text-base-bold-font-size: 16px;
  --text-base-bold-letter-spacing: 0.019199999570846556px;
  --text-base-bold-line-height: 150%;
  --text-base-bold-font-style: normal;
  --text-sm-regular-font-family: "Segoe UI", Helvetica;
  --text-sm-regular-font-weight: 400;
  --text-sm-regular-font-size: 14px;
  --text-sm-regular-letter-spacing: 0.016799999624490736px;
  --text-sm-regular-line-height: 150%;
  --text-sm-regular-font-style: normal;
  --text-sm-underline-font-family: "Segoe UI", Helvetica;
  --text-sm-underline-font-weight: 400;
  --text-sm-underline-font-size: 14px;
  --text-sm-underline-letter-spacing: 0.016799999624490736px;
  --text-sm-underline-line-height: 150%;
  --text-sm-underline-font-style: normal;
  --tokens-colors-surface-surfacesecondary: var(--primitives-colors-grey-50);
  --tokens-colors-content-contentprimary: var(--local-colors-base-black);
  --tokens-colors-content-contentsecondary: var(--primitives-colors-grey-900);
  --tokens-colors-content-contentbrandlight: var(--primitives-colors-plum-25);
  --tokens-colors-content-contentprimary-duplicate: var(
    --primitives-colors-base-black-duplicate
  );
  --tokens-colors-content-contentbrand: var(--primitives-colors-plum-500);
  --tokens-colors-content-contenttertiary: var(--primitives-colors-grey-600);
  --tokens-colors-surface-surfaceprimary: var(--local-colors-base-white);
  --tokens-spacing-spacer-02: var(--primitives-size-02);
  --tokens-spacing-spacer-01: var(--primitives-size-01);
  --tokens-colors-surface-surfacebrandlight: var(--primitives-colors-plum-25);
  --tokens-border-radius-border-radius-circle: 999px;
  --tokens-spacing-spacer-04: var(--primitives-size-04);
  --tokens-spacing-spacer-03: var(--primitives-size-03);
  --tokens-border-radius-border-radius-2: var(--primitives-size-02);
  --tokens-colors-borders-borderopaque: var(--primitives-colors-grey-200);
  --tokens-spacing-spacer-06: var(--primitives-size-06);
  --tokens-colors-borders-borderbrandlight: var(--primitives-colors-plum-100);
  --tokens-colors-surface-surfacebrand: var(--primitives-colors-plum-500);
  --tokens-spacing-spacer-05: var(--primitives-size-05);
  --tokens-colors-borders-borderopaque-duplicate: var(
    --primitives-colors-grey-200
  );
  --primitives-colors-grey-50: rgba(245, 245, 245, 1);
  --primitives-colors-grey-900: rgba(49, 49, 49, 1);
  --primitives-colors-plum-25: rgba(249, 241, 247, 1);
  --primitives-colors-base-black-duplicate: rgba(0, 0, 0, 1);
  --primitives-colors-plum-500: rgba(147, 17, 126, 1);
  --primitives-colors-grey-600: rgba(106, 106, 106, 1);
  --primitives-size-02: 8px;
  --primitives-size-01: 4px;
  --primitives-size-04: 16px;
  --primitives-size-03: 12px;
  --primitives-colors-grey-200: rgba(227, 227, 227, 1);
  --primitives-size-06: 32px;
  --primitives-colors-plum-100: rgba(239, 219, 236, 1);
  --primitives-size-05: 24px;
  --local-colors-base-black: rgba(0, 0, 0, 1);
  --local-colors-base-white: rgba(255, 255, 255, 1);
  --collection-1-spacing-spacer-02-duplicate: 8px;
  --collection-1-spacing-spacer-04-duplicate: 16px;
  --collection-1-spacing-spacer-05-duplicate: 24px;
}
